doctype
html(lang="en")
  head
    title Edit Student

  body
    form(action="/api/edit", method='post')
      input(placeholder='Firstname', name='firstName', value=student.firstName)
      input(placeholder='Lastname', name='lastName', value=student.lastName)
      input(type='hidden', name='id', value=student.id)
      input(type='submit', value='Edit')
