doctype
html
  head
    title CRUD
    style(type='text/css').
      table {
        width: 100%;
        background-color: #FFFFFF;
        border-collapse: collapse;
        border-width: 2px;
        border-color: #7ea8f8;
        border-style: solid;
        color: #000000;
      }

      td,th {
        border-width: 2px;
        border-color: #7ea8f8;
        border-style: solid;
        padding: 5px;
      }
  body


  form(action="/api/add", method='post')
    input(placeholder='Firstname', name='firstName')
    input(placeholder='Lastname', name='lastName')
    input(type='submit', value='Add')
    
    br
    br

  table
    tbody
      each student in students
        tr
          td= student.firstName
          td= student.lastName
          td 
            form(action='/api/edit/'+student.id, method='get')
              input(type='submit', value='Edit')
            form(action='/api/delete', method='post')
              input(type='hidden', name='id', value=student.id)
              input(type='submit', value='Delete')

